In [1]:
import pandas as pd

In [2]:
# Ler arquivos
path_rendeiras = "D:\\Downloads\\series_rendeiras.xlsx"
path_ponte = "D:\\Downloads\\series_ponte.xlsx"
rendeiras = pd.read_excel(path_rendeiras).set_index('Data e hora')
ponte = pd.read_excel(path_ponte).set_index('Data e hora')

## Volume (L) para cálculo do ADP

In [3]:
# Reorganizar 
rendeiras1 = rendeiras.drop('Data', axis='columns').resample('D').sum()
ponte1 = ponte.drop('Data', axis='columns').resample('D').sum()

In [4]:
# Coluna com o dia da semana
rendeiras1['Dia da semana'] = rendeiras1.index.day_name()
ponte1['Dia da semana'] = ponte1.index.day_name()

In [5]:
rendeiras1.loc[(rendeiras1.index >= '2023-10-25')&(rendeiras1.index <= '2023-10-28')]

              Vazão (L/s)  Intervalo de tempo (s)     Volume (L) Dia da semana
Data e hora
2023-10-25    7425.484041                 86400.0  567749.999788     Wednesday
2023-10-26    7582.236836                 86400.0  564056.784147      Thursday
2023-10-27    8157.563921                 86400.0  566428.734824        Friday
2023-10-28   12009.468816                 86400.0  822477.311117      Saturday

In [6]:
ponte1.loc[(ponte1.index >= '2023-10-25')&(ponte1.index <= '2023-10-28')]

              Vazão (L/s)  Intervalo de tempo (s)    Volume (L) Dia da semana
Data e hora
2023-10-25   13124.006082                 86400.0  9.244905e+05     Wednesday
2023-10-26   13316.118905                 86400.0  9.109226e+05      Thursday
2023-10-27   13569.966672                 86400.0  9.463452e+05        Friday
2023-10-28   16938.555444                 86400.0  1.259817e+06      Saturday

## Volume (L) para cálculo do ADP2

In [7]:
# Reorganizar para ADP2
rendeiras2 = rendeiras.drop('Data', axis='columns')
rendeiras2.index = rendeiras2.index - pd.Timedelta(hours=23)
rendeiras2['date_group'] = rendeiras2.index.date
rendeiras2 = rendeiras2.groupby('date_group').sum()
rendeiras2.index = pd.to_datetime(rendeiras2.index)
rendeiras2.index = rendeiras2.index + pd.Timedelta(days=1) 

ponte2 = ponte.drop('Data', axis='columns')
ponte2.index = ponte2.index - pd.Timedelta(hours=23)
ponte2['date_group'] = ponte2.index.date
ponte2 = ponte2.groupby('date_group').sum()
ponte2.index = pd.to_datetime(ponte2.index)
ponte2.index = ponte2.index + pd.Timedelta(days=1)

In [8]:
rendeiras2.loc[(rendeiras2.index >= '2023-10-25')&(rendeiras2.index <= '2023-10-28')]

             Vazão (L/s)  Intervalo de tempo (s)     Volume (L)
date_group
2023-10-25   7508.433765                 86400.0  568413.080803
2023-10-26   7484.985221                 86400.0  560958.817266
2023-10-27   8105.438083                 86400.0  564543.235458
2023-10-28  11816.190263                 86400.0  808097.259155

In [9]:
ponte2.loc[(ponte2.index >= '2023-10-25')&(ponte2.index <= '2023-10-28')]

             Vazão (L/s)  Intervalo de tempo (s)    Volume (L)
date_group
2023-10-25  13235.562887                 86400.0  9.279048e+05
2023-10-26  13225.931669                 86400.0  9.092697e+05
2023-10-27  13520.144007                 86400.0  9.401302e+05
2023-10-28  16673.114423                 86400.0  1.233657e+06